/* Layout Desktop (1.0pt)
O aluno deverá utilizar as técnicas de css grid e flexbox para replicar o layout modelo (arquivo desktop.png) de acordo com os elementos apresentados.

*/

.container.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "itemA itemB";
}

.grid-item-1 {
    grid-area: itemA;
    
    
}

.grid-item-2 {
    grid-area: itemB;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex.stat {
    display: flex;
}

.testimonial.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    

}



/*
Layout Mobile (1.5pt)
O aluno deverá utilizar as técnicas aprendidas para replicar o layout modelo (arquivo mobile.png) de acordo com os elementos apresentados, crie um media query com breakpoint em 500px.
*/

@media (max-width: 600px) {

    .container.flex{
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
    }

    .grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "itemA"
        "itemB";
        
    }

    .grid-item-1 {
        grid-area: itemA;
        
        
    }
    
    .grid-item-2 {
        grid-area: itemB;
    }

    
}



/* Avaliação (1.5 pt)
Com base no modelo desktop  (arquivo desktop.png) o aluno deverá responder as seguintes perguntas como comentários no arquivo css:

a) Avalie o modelo com base no conceito de layout, especifique e justifique o conceito de equilíbrio. 

Assimétrico

b) Avalie o modelo com base no conceito de layout, especifique e justifique o conceito de ritmo. 

c) Avalie o modelo com base no conceito de layout, especifique e justifique o conceito de ênfase.

*/